POSTGRES_DB=payment_db
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=<password>

DB_HOST=payment-db
DB_PORT=5432
DB_NAME=payment_db
DB_USERNAME=payment_user
DB_PASSWORD=<password>

SERVER_HOST_PORT=<port number>